<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🐈 Pupilove - Home</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <div class="container">
        <a href="/" class="home-link">
            <h1 class="page-heading">🐈 Pupilove 🐈</h1>
        </a>
        <p class="page-paragraph">Work in progress...</p>
    </div>
        <div class="navigation">
            <a href="/test-db-connection" class="navigation-link">Test DB Connection</a>
            <a href="/browse-listings" class="navigation-link">Browse listings</a>
            <a href="/my-listings" class="navigation-link">My listings</a>
            <a href="/my-reservations" class="navigation-link">My reservations</a>
            <a href="/search-listings" class="navigation-link">Search listings</a>
            <a href="/add-listing" class="navigation-link">Add listing</a>
        </div>
</body>
</html>
