<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pupilove</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <div class="container">
        <a href="/" class="home-link">
            <h1 class="page-heading">Pupilove</h1>
        </a>
        <p class="page-paragraph">Work in progress...</p>
        <a href="/test-db-connection" class="navigation-link">Test DB Connection</a>
    </div>
</body>
</html>
