<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test DB connection</title>
    <link rel="stylesheet" href="/static/query_input.css">
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <div class="container">
        <a href="/" class="home-link">
            <h1 class="page-heading">Pupilove</h1>
        </a>
        <h1>Test DB connection</h1>
        <form action="/test-db-connection" method="post">
            <label for="query">SELECT query:</label>
            <textarea id="query" name="query" rows="4" required></textarea><br><br>
            <button type="submit">Execute query</button>
        </form>

        {% if result is not none %}
        <h2>Query result:</h2>
        <table>
            <thead>
                <tr>
                    {% for key in result[0].keys() %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in result %}
                <tr>
                    {% for value in row.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>
</html>
